<ion-header>
  <ion-navbar>
    <ion-title>
      Detalhes da vaga
    </ion-title>
    <ion-buttons end *ngIf="status == 'Y'">
      <button ion-button icon-only (click)="chatMatch()">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img src="{{ vaga.imagem }}" class="imageCenter" style="height:150px; padding:10px;">

  <div class="title">Empresa</div>
  <p>{{ vaga.empresa }}</p>

  <div class="border"></div>

  <div class="title">Título</div>
  <p>{{ vaga.title }}</p>

  <div class="border"></div>

  <div class="title">Descrição</div>
  <p>{{ vaga.description }}</p>

  <div class="border"></div>

  <div class="title">Área</div>
  <p>{{ vaga.area }}</p>

  <div class="border"></div>

  <div class="title">Cargo</div>
  <p>{{ vaga.cargo }}</p>

  <div class="border"></div>

  <div class="title">Salário</div>
  <p>{{ vaga.salario }}</p>

  <div class="border"></div>
  
  <div *ngIf="feedback != 'nenhum' || feedbackObs != undefined">
    <div class="title">Feedback</div>
    <p *ngIf="feedback != 'nenhum'">
      {{ feedback }}
    </p>
    <p>
      {{ feedbackObs }}
    </p>
  </div>
</ion-content>
