<ion-header>
</ion-header>

<ion-content padding class="body_page">
  <div class="mensagem">
    <h2>Não existem mais vagas disponíveis no momento</h2>
  </div>
  <div *ngFor="let job of jobs; let i = index">
  <!-- <ion-card *ngFor="let job of jobs" class="td_card"> -->
  <!-- <ion-card class="td_card"  *ngIf="showCard" [@flyInOut]> -->
    <ion-card id="card-{{ i }}" class="td_card" (click)="vagaDetail(job.vagaId)" (mouseenter)="mouseClickDown($event)" (mouseleave)="mouseClickUp($event)">
      <ion-card-header>
        <img src="{{ job.image }}" style="height:150px; padding:10px;">
      </ion-card-header>
      <div class="card_desc">
        <ion-card-content class="card_desc">
          <ion-card-title style="font-weight: bold;">
            {{ job.title }}
          </ion-card-title>
          <p>
            <ion-icon name="pricetag" class="empresa-icon"></ion-icon>
            {{ job.empresa }}
          </p>
          <p>
            <ion-icon name="briefcase" class="cargo-icon"></ion-icon>
            {{ job.cargo }}
          </p>
          <p>
            <ion-icon name="logo-usd" class="dolar-icon" item-start></ion-icon>
            {{ job.salario }}
          </p>
          <p>
            <ion-icon name="pin" class="pin-icon"></ion-icon>
            {{ job.bairro }}
          </p>
        </ion-card-content>
      </div>

    </ion-card>
  </div>

  <button large ion-button round icon-only (click)="no_click()" class="td_button">
  <!-- <button id="button-{{ i }}" (click)="log($event)"> -->
    <ion-icon class="close_icon" name="close"></ion-icon>
  </button>

  <button large ion-button round icon-only float-right (click)="yes_click()" class="td_button">
    <ion-icon class="check_icon" name="checkmark"></ion-icon>
  </button>
  
</ion-content>
