page-vaga-candidato-detail {
    div .title {
        font-size: 18px;
        color: blue;
        font-weight: bold;
    }

    .border {
        border-top: 1px solid black;
        margin-bottom: 15px
    }

    p {
        margin-top: 5px;
    }
}
