<ion-header>

  <ion-navbar>
    <ion-title>cadastrarVaga</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Título da Vaga</ion-label>
      <ion-input type="text" placeholder="Ex: Programador" formControlName="title"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.title.valid && (form.controls.title.dirty || form.controls.title.touch)" color="danger">
      <div [hidden]="!form.controls.title.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Cargo</ion-label>
      <ion-input type="text" placeholder="Ex: Sênior" formControlName="cargo"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.cargo.valid && (form.controls.cargo.dirty || form.controls.cargo.touch)" color="danger">
      <div [hidden]="!form.controls.cargo.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Área Profissional</ion-label>
      <ion-input type="text" placeholder="Ex: Tecnologia" formControlName="area"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.area.valid && (form.controls.area.dirty || form.controls.area.touch)" color="danger">
      <div [hidden]="!form.controls.area.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Salário</ion-label>
      <ion-input type="text" formControlName="salario"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.salario.valid && (form.controls.salario.dirty || form.controls.salario.touch)" color="danger">
      <div [hidden]="!form.controls.salario.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.description.valid && (form.controls.description.dirty || form.controls.description.touch)" color="danger">
      <div [hidden]="!form.controls.description.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div class='input-wrapper'>
      <label for='input-file'>
        Escolha uma foto
      </label>
      <input id='input-file' type='file' value='' (change)="atualizaArquivo($event)" />
      <span id='file-name'></span>
    </div>
    
    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>

  </form>
</ion-content>
